#hplogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#hpform {
    display: block;
    -webkit-appearance: none;
    margin-left: auto;
    margin-right: auto;
}

